* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
 
    flex-direction: column;
}
.toda_tela {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.sessao_de_imagem {
    display: flex;
    flex-direction: column;
}
.sessao_de_imagem img{
    animation: animacaoParaImagens 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
}

@keyframes animacaoParaImagens {
    from{
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}